<h1>Eat-Da-Burger</h1>
<h3>Choose which burgers you want to devour and then devour them!</h3>

<container>
    <div class="row">
        <div class="col-lg-6">
            <ul>
                {{#each burgers}}
                    {{#unless this.devoured}}
                        <li class="burgerItm">{{this.burger_name}}<button class="devBtn" data-id={{this.id}}>Devour it</button></li>
                    {{/unless}}
                {{/each}}
            </ul>
        </div>
        <div class = "col-lg-6">
            <ul>
                {{#each burgers}}
                    {{#if this.devoured}}
                        <li class="burgerItm">{{this.burger_name}}</li>
                    {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>
    <div class="row">
        <form action="/api/:burgerName" method="POST" id="burger-form">
              <div class="container">
                <div class="row">
                  <div class="col-10">
                    <input class="new-item form-control" id="burger" placeholder="Add a burger" type="text" name="burgerName"/>
                  </div>
                  <div class="col-2">
                    <button type="submit" class="btn btn-success" id="burgerBtn">Add Burger</button>
                  </div>
                </div>
              </div>
            </form>
    </div>
 

</container>
